<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <title>soap essential submitter</title>
	<link rel="favicon" href="templates/favicon.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" crossorigin="anonymous">
</head>
<body>
    <div class="d-flex justify-content-center align-items-center" style="height:100vh">
        <div class="card m-3 text-center">
            <div class="card-header">
                <h3 class="card-title">Welcome!</h3>
            </div>
            <div class="card-body">
                <p class="card-text fw-bold">Original app/backend made by gruetzig, check it out <a href="https://github.com/nh-server/essentialsubmit">here</a>.</p>
                <p>Anyways, if you are looking to get SOAP services, you should really take a look at <a href="https://bluehax.xyz/">Bluehax</a>.</p>
                <p>If you are currently being helped, you have done stuff incorrectly because you should not be on this site. Go back to Discord.</p>
            </div>
            a
            <div class="card-footer">
                <a href="https://github.com/bluehaxreloaded/essentialsubmit" class="btn btn-secondary">Source Code</a>
            </div>
        </div>
    </div>
</body>
</html>
